*{
    margin: 10px;
    padding: 10px;
}

/* Ejercicio 1: Pantalla PC*/

.contenedor-flex{
    display: flex;
    max-width: 1200px;
    flex-flow: column nowrap;
    margin: 0 auto;
}

    .header{
        background: #000;
        display: flex;
        flex-flow: column nowrap;
    }

        .menu{
            background: #2d4059;
            display: flex;
            flex-flow: row nowrap;
            height: 50px;
            align-items: center;
        }

            .logo{
                background: #ea5455;
                flex: 1 1 auto;
                height: 15px;
            }
            .nav{
                background: #ea5455;
                flex: 5 1 auto;
                height: 15px;
            }
            .social{
                background: #ea5455;
                flex: 1 1 auto;
                height: 15px;
            }

        .texto-principal{
            background: #f07b3f;
            display: flex;
            height: 70px;
        }
            h1{
                background: #ffd460;
                flex: 1 1 100%;
                height: 35px;
                align-self: center;
            }

    .section{
        background: #000;
        display: flex;
    }
        .articulos{
            background: #4e4e6a;
            flex: 2 1 auto;
            display: flex;
            flex-flow: row wrap;
        }
            .article{
                background: #1f6cb0;
                flex: 1 1 40%;
            }
            .navegacion{
                background: #70a3c4;
                flex: 1 1 100%;
            }
            
        .aside{
            background: #f73f52;
            flex: 1 1 auto;
        }
            .publicidad{
                background: #ffea85;
            }

    .footer{
        background: #000;
        display: flex;
        justify-content: center;
    }
        .pie{
            background: #e6af2e;
            width: 100%;
        }
        
/* Ejercicio 2: Tablet*/
    
@media all and (max-width: 768px){
    .section{
        flex-direction: column;
    }
    .menu{
        flex-direction: column;
        height: auto;
    }
    .logo,
    .nav,
    .social{
        width: 90%;
    }
}

/* Ejercicio 3: Movil */

@media all and (max-width: 576px){
    .articulos{
        flex-direction: column;
    }
}